$blockMaxWidth: 1440px;

$mainBackground: #f6f6f6;
$mainColor: #2d3c4e;

$totalHeight: 737px;
$headStripeHeight: 72px;

$contentHeight: $totalHeight - $headStripeHeight;
$contentWidth: 850px;

$sideOvalWidth: 335px;
